In [1]:
import pandas as pd

In [13]:
page_activations_df = pd.read_pickle("activations_cassandra.pickle")

In [14]:
page_activations_df.head()

   page_id          visit_time  count
0      734 2018-07-31 22:00:00     14
1      734 2018-07-31 23:00:00      8
2      734 2018-08-01 00:00:00      7
3      734 2018-08-01 01:00:00     11
4      734 2018-08-01 02:00:00     14

In [15]:
page_activations_df.shape

(2589123, 3)

In [10]:
page_activations_df.set_index('visit_time', inplace=True)

In [11]:
page_activations_groupby = page_activations_df.groupby('page_id')

In [21]:
page_activations_groupby.head()

                      page_id  count
visit_time
2018-07-31 22:00:00       734     14
2018-07-31 23:00:00       734      8
2018-08-01 00:00:00       734      7
2018-08-01 01:00:00       734     11
2018-08-01 02:00:00       734     14
2018-08-01 22:00:00       887      4
2018-08-02 00:00:00       887      1
2018-08-02 03:00:00       887      3
2018-08-02 04:00:00       887      1
2018-08-02 05:00:00       887      4
2018-08-02 22:00:00      1088      3
2018-08-02 23:00:00      1088      3
2018-08-03 00:00:00      1088      3
2018-08-03 01:00:00      1088      8
2018-08-03 02:00:00      1088      6
2018-08-05 22:00:00      1175      2
2018-08-05 23:00:00      1175      2
2018-08-06 00:00:00      1175      5
2018-08-06 01:00:00      1175      2
2018-08-06 02:00:00      1175      2
2018-08-01 22:00:00      1200      1
2018-08-01 23:00:00      1200      7
2018-08-02 01:00:00      1200      5
2018-08-02 02:00:00      1200      3
2018-08-02 04:00:00      1200      3
2018-08-02 22:00:00      1286      2
2018-08-02 23:00:00      1286      2
2018-08-03 00:00:00      1286      1
2018-08-03 01:00:00      1286     17
2018-08-03 02:00:00      1286      9
...                       ...    ...
2018-08-26 23:00:00  57953289     13
2018-08-27 00:00:00  57953289     10
2018-08-27 01:00:00  57953289      7
2018-08-27 02:00:00  57953289      7
2018-08-27 03:00:00  57953289      8
2018-08-18 22:00:00  57981169      1
2018-08-19 03:00:00  57981169      1
2018-08-19 04:00:00  57981169      2
2018-08-19 06:00:00  57981169      1
2018-08-19 07:00:00  57981169      1
2018-08-13 00:00:00  58008320      1
2018-08-13 01:00:00  58008320      4
2018-08-13 02:00:00  58008320      3
2018-08-13 03:00:00  58008320      4
2018-08-13 04:00:00  58008320      2
2018-07-31 22:00:00  58029432     17
2018-07-31 23:00:00  58029432      3
2018-08-01 00:00:00  58029432      8
2018-08-01 01:00:00  58029432      9
2018-08-01 02:00:00  58029432      7
2018-07-31 22:00:00  58031695      4
2018-08-01 00:00:00  58031695      6
2018-08-01 01:00:00  58031695      3
2018-08-01 02:00:00  58031695      1
2018-08-01 03:00:00  58031695      4
2018-08-06 22:00:00  58035374      2
2018-08-06 23:00:00  58035374      1
2018-08-07 01:00:00  58035374      1
2018-08-07 02:00:00  58035374      5
2018-08-07 03:00:00  58035374      4

[50612 rows x 2 columns]